.share-counts-smaller
{
	font-size: 0.8em;
	font-weight: normal;
}

.share-counts-standard
{
}

.share-counts-bigger
{
	font-size: 1.1em;
}

.share-counts-even-bigger
{
	font-size: 1.2em;
}

.share-counts-huge
{
	font-size: 1.4em;
}

.most-shared-posts
{
	margin-bottom:0;
}

